git+https://github.com/botswana-harvard/django-crypto-fields.git@0.1.14#egg=django-crypto-fields
git+https://github.com/botswana-harvard/django-revision.git@develop#egg=django-revision
git+https://github.com/botswana-harvard/edc-base.git@edc-upgrades#egg=edc-base
git+https://github.com/botswana-harvard/edc-constants.git@develop#egg=edc-constants
git+https://github.com/botswana-harvard/edc-dashboard.git@edc-upgrade#egg=edc-dashboard
git+https://github.com/botswana-harvard/edc-device.git@develop#egg=edc-device
git+https://github.com/botswana-harvard/edc-facility.git@develop#egg=edc-facility
git+https://github.com/botswana-harvard/edc-fieldsets.git@develop#egg=edc-fieldsets
git+https://github.com/botswana-harvard/edc-form-validators.git@develop#egg=edc-form-validators
git+https://github.com/botswana-harvard/edc-identifier.git@develop#egg=edc-identifier
git+https://github.com/botswana-harvard/edc-model-admin.git@develop#egg=edc-model-admin
git+https://github.com/botswana-harvard/edc-model-wrapper.git@develop#egg=edc-model-wrapper
git+https://github.com/botswana-harvard/edc-protocol.git@develop#egg=edc-protocol
git+https://github.com/botswana-harvard/edc-search.git@develop#egg=edc-search
git+https://github.com/botswana-harvard/edc-sms.git@develop#egg=edc-sms
git+https://github.com/botswana-harvard/edc-subject-dashboard.git@upgrade#egg=edc-subject-dashboard
git+https://github.com/botswana-harvard/edc-navbar.git@edc-upgrade#egg=edc-navbar
git+https://github.com/botswana-harvard/cms-dashboard.git@develop#egg=cms-dashboard
git+https://github.com/Botswana-Harvard-Utility-Systems/bhp-personnel.git@develop#egg=bhp-personnel
git+https://github.com/Botswana-Harvard-Utility-Systems/bhp-personnel-dashboard.git@develop#egg=bhp-personnel-dashboard
git+https://github.com/Botswana-Harvard-Utility-Systems/timesheet.git@upgrades#egg=timesheet
git+https://github.com/Botswana-Harvard-Utility-Systems/timesheet-dashboard.git@upgrades#egg=timesheet-dashboard
--pre xhtml2pdf
django-admin-list-filter-dropdown
pdf2image
django_q
xlwt
xhtml2pdf
mysqlclient
pandas
django-crispy-forms
