git+https://github.com/botswana-harvard/django-crypto-fields.git@0.1.14#egg=django-crypto-fields
git+https://github.com/botswana-harvard/django-revision.git@0.1.14#egg=django-revision
git+https://github.com/botswana-harvard/edc-appointment.git@develop#egg=edc-appointment
git+https://github.com/botswana-harvard/edc-base.git@develop#egg=edc_base
git+https://github.com/botswana-harvard/edc-constants.git@develop#egg=edc_constants
git+https://github.com/botswana-harvard/edc-dashboard.git@develop#egg=edc_dashboard
git+https://github.com/botswana-harvard/edc-data-manager.git@develop#egg=edc-data-manager
git+https://github.com/botswana-harvard/edc-device.git@develop#egg=edc_device
git+https://github.com/botswana-harvard/edc-facility.git@develop#egg=edc-facility
git+https://github.com/botswana-harvard/edc-fieldsets.git@develop#egg=edc_fieldsets
git+https://github.com/botswana-harvard/edc-form-validators.git@develop#egg=edc_form_validators
git+https://github.com/botswana-harvard/edc-identifier.git@develop#egg=edc_identifier
git+https://github.com/botswana-harvard/edc-lab.git@develop#egg=edc-lab
git+https://github.com/botswana-harvard/edc-label.git@develop#egg=edc-label
git+https://github.com/botswana-harvard/edc-list-data.git@develop#egg=edc_list_data
git+https://github.com/botswana-harvard/edc-model-admin.git@develop#egg=edc_model_admin
git+https://github.com/botswana-harvard/edc-model-wrapper.git@develop#egg=edc_model_wrapper
git+https://github.com/botswana-harvard/edc-protocol.git@develop#egg=edc_protocol
git+https://github.com/botswana-harvard/edc-search.git@develop#egg=edc_search
git+https://github.com/botswana-harvard/edc-sms.git@develop#egg=edc_sms
git+https://github.com/botswana-harvard/edc-subject-dashboard.git@develop#egg=edc-subject-dashboard
git+https://github.com/botswana-harvard/edc-metadata.git@develop#egg=edc-metadata
git+https://github.com/botswana-harvard/edc-navbar.git@develop#egg=edc-navbar
git+https://github.com/botswana-harvard/edc-reference.git@develop#egg=edc-reference
git+https://github.com/botswana-harvard/edc-visit-schedule.git@develop#egg=edc-visit-schedule
git+https://github.com/botswana-harvard/cms-dashboard.git@develop#egg=cms_dashboard
git+https://github.com/Botswana-Harvard-Utility-Systems/procurement.git@develop#egg=procurement
git+https://github.com/Botswana-Harvard-Utility-Systems/procurement-dashboard.git@develop#egg=procurement_dashboard
git+https://github.com/Botswana-Harvard-Utility-Systems/bhp-personnel.git@develop#egg=bhp_personnel
git+https://github.com/Botswana-Harvard-Utility-Systems/bhp-personnel-dashboard.git@develop#egg=bhp_personnel_dashboard
git+https://github.com/Botswana-Harvard-Utility-Systems/document-tracking-dashboard.git@develop#egg=document_tracking_dashboard
git+https://github.com/Botswana-Harvard-Utility-Systems/document-tracking.git@develop#egg=document_tracking
git+https://github.com/Botswana-Harvard-Utility-Systems/timesheet.git@develop#egg=timesheet
git+https://github.com/Botswana-Harvard-Utility-Systems/timesheet-dashboard.git@develop#egg=timesheet_dashboard
--pre xhtml2pdf
django-admin-list-filter-dropdown
pdf2image~=1.17.0
django_q
xlwt
xhtml2pdf~=0.2.17
mysqlclient~=2.0.3
pandas~=1.4.2
django-crispy-forms~=1.12.0
notebook~=7.5.6

gitdb~=4.0.7
defusedxml~=0.7.1
ipython~=8.18.1
numpy~=1.22.3
pillow~=11.3.0
pip~=21.2.3
attrs~=26.1.0
cryptography~=48.0.0
docutils~=0.17.1
filelock~=3.0.12
redis~=3.5.3
setuptools~=57.4.0
lxml~=6.1.1
beautifulsoup4~=4.14.3
html5lib~=1.1
pytz~=2021.1
requests~=2.32.5
pyyaml~=6.0.3
arrow~=1.1.1
python-dateutil~=2.9.0.post0
Faker~=8.9.1
smmap~=4.0.0
overrides~=7.7.0
cffi~=2.0.0
pypdf~=6.11.0
Django~=3.2.4
asgiref~=3.3.4
sqlparse~=0.4.1
jinja2~=3.1.6
markupsafe~=3.0.3
reportlab~=4.5.1
cssselect2~=0.8.0
tinycss2~=1.4.0
svglib~=1.6.0
blessed~=1.18.1
wcwidth~=0.2.5
certifi~=2021.5.30
asn1crypto~=1.5.1
pyhanko~=0.33.0
tzlocal~=5.3.1
urllib3~=2.6.3
six~=1.16.0
psutil~=7.2.2
django-picklefield~=3.0.1
pygments~=2.20.0
django-simple-history~=3.0.0
webencodings~=0.5.1
idna~=3.15
packaging~=26.2
zipp~=3.23.1
django-debug-toolbar~=3.2.1
djangorestframework~=3.14.0
oscrypto~=1.3.0
uritools~=5.0.0
PyMySQL~=1.0.2