{% extends "edc_base/base.html" %}

{% block topbar %}{% endblock topbar %}

{% block main %}

<div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-center mx-auto">
          <div class="card-header">
            <h4 class="text-muted text-center">Enter Your New Password</h4>
          </div>
          <div class="card-body">
    		{% if form.errors %}
    		    {% for error in form.errors.values %}
    		      <div class="alert alert-danger text-center">
    		    	{{ error|striptags }}
    		      </div>
    		    {% endfor %}
    		{% endif %}



            <form method="post" class="d-grid gap-3">
        		{% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}" class="form-label">New Password</label>
                    <input type="password" class="form-control" name="new_password1" autofocus maxlength="254" required id="{{ form.password1.id_for_label }}" />
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="new_password2" required id="{{ form.password2.id_for_label }}" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-secondary" value="Change Password" />
                </div>


             </form>
            </div>
          </div>
      </div>
</div>
{% endblock main %}
